/* .page {
    direction: rtl;
} */

body { direction: rtl; }
code { direction: ltr; }

.sidebar {
  right: 0;
}

@media only screen and (min-width: 620px) {
    .sidebar-visible .page-wrapper {
        transform: none;
        margin-right: var(--sidebar-width);
    }
}

.next {
        float: left;
        right: var(--page-padding);
}

.sidebar-hidden .sidebar {
    transform: translateX(calc(0px + 300px));
}

.sidebar-visible .page-wrapper {
    transform: none;
    margin-right: var(--sidebar-width);
    margin-left: 0px;
}